@font-face {
	font-family:'Futura';
	src: url('futurastd-book-webfont.eot?') format('eot'), /* IE6-IE8 */
	     url('futurastd-book-webfont.woff') format('woff'), /* Modern Browsers */
	     url('futurastd-book-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('futurastd-book-webfont.svg') format('svg'); /* Legacy iOS */
	    font-weight: normal;
    	font-style: normal;
}
@font-face {
	font-family:'Futura';
	src: url('futurastd-bold-webfont.eot?') format('eot'), /* IE6-IE8 */
	     url('futurastd-bold-webfont.woff') format('woff'), /* Modern Browsers */
	     url('futurastd-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('futurastd-bold-webfont.svg') format('svg'); /* Legacy iOS */
	    font-weight: bold;
    	font-style: normal;
}
@font-face {
	font-family:'Futura';
	src: url('futurastd-bookoblique-webfont.eot?') format('eot'), /* IE6-IE8 */
	     url('futurastd-bookoblique-webfont.woff') format('woff'), /* Modern Browsers */
	     url('futurastd-bookoblique-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('futurastd-bookoblique-webfont.svg') format('svg'); /* Legacy iOS */
	    font-weight: normal;
    	font-style: italic;
}
@font-face {
	font-family:'Futura';
	src: url('futurastd-boldoblique-webfont.eot?') format('eot'), /* IE6-IE8 */
	     url('futurastd-boldoblique-webfont.woff') format('woff'), /* Modern Browsers */
	     url('futurastd-boldoblique-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('futurastd-boldoblique-webfont.svg') format('svg'); /* Legacy iOS */
	    font-weight: bold;
    	font-style: italic;
}

@media all {
	small {
		font-size:smaller;
	}
	body {
		font-family:'Futura';
		color:#383838;
		margin-top:0.5em;
	}
	h1, h2 {
		margin-top:0.3em;
		font-family:'Futura';
		color:#383838;
		margin-top:0.5em;
	}
  .panel-default {
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 0px;
  }
  .panel-heading {
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 0px;
  }
  .page-header-odd {
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 0px;
      padding-top:5px;
      padding-bottom:5px;
      padding-left:10px;
      padding-right:10px;
  }
  .page-header-even {
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 0px;
      padding-top:5px;
      padding-bottom:5px;
      padding-left:10px;
      padding-right:10px;
  }
  hr {
      border-top: 4px solid darkcyan;
  }
  .title-header {
      background-color: #C0C0C0;
  }
  .row {
      margin-left:0px;
      margin-right:0px;
      width:100%;
  }
  .column-left {
      padding-left:10px;
      width:50%;
      float:left;
      text-align:left;
      line-height:30%;
  }
  .column-right {
      padding-right:10px;
      width:50%;
      float:left;
      text-align:right;
      line-height:30%;
  }
  .time-column {
      padding-left:0px;
      width:25%;
      float:left;
      text-align:right;
      padding-right:10px;
  }
  .event-column {
      width:75%;
      float:left;
      padding-left:10px;
      text-align:left;
      padding-right:0px;
      border-left: 1px solid darkcyan;
  }
  .panel {
      margin-bottom: 0px;
  }
  .panel .panel-heading {
		margin-top:0em;
		text-align:center;
	}
	.panel .panel-body {
		  padding:0em;
      margin-top:0em;
      margin-bottom:0em;
      margin-left:0px;
      margin-right:0px;
	}
	.page-header {
		margin:0em;
	}
  .headerDiv {
      border-bottom: solid;
  }
	section {
		padding:0.5em;
	}
	section.even {
		background-color:#F0F0FF;
		border-color:#F0F0FF;
	}
	.dl-horizontal dt {
    	text-align:left;
    	margin-right:10px;
	}
  .timeline-border {
      border-left:2px solid darkcyan;
  }
  ul {
    	list-style:outside;
    	margin-left:1em;
    	margin-top:1em;
	}
	ul li {
    	position:relative;
    	left:1em;
   		padding-right:1em;
	}
	ul.list-inline li {
		position:relative;
		padding:0.5em;
	}
	p {
		font-size:1.125em;
	}
	.popover {
		width:auto;
		min-width:300px;
	}
	.btn {
    	white-space:normal;
    	margin-right:0.5em;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

	section.even {
		background-color:#F5F5F5;
		border-color:#F5F5F5;
	}
}

/* iPad/iPhone with retina (portrait and landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	section.even {
		background-color:#F5F5F5;
		border-color:#F5F5F5;
	}
}

/* mobile devices (portrait and landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	p {
		font-size:1.000em;
	}
}
@page {
    size:A4;
    margin:0;
}
@media print {
	  /* Styles for print */
  html, body {
    width: 210mm;
    height: 297mm;
		font-family:'Futura';
    font-size:0.875em;
		color:#383838;
		margin:3mm;
    line-height:100%
	}
	.container {
		margin-left:0.2em;
		margin-right:0.2em;
		margin-top:0.1em;
		margin-botton:0.1em;
	}
	h1, h2, h3 ,h4 {
		margin-top:0.1em;
		font-family:'Futura';
		color:#383838;
		margin-top:0.15em;

	}
	h2 {
		font-size:1.5em;
		font-weight:bold;
	}
	h3 {
		font-size:1.25em;
	}
	h4 {
		font-size:1.025em;
	}
	.panel .panel-heading {
		margin-top:0em;
		text-align:center;
	}
  small {
		font-size:smaller;
	}
	dt, dd, p {
		font-size:0.875em;
	}
	section {
		padding:0.3em;
	}
  .container {
      margin:0.3em;
      padding:0.3em;
  }
  .visible-print {
    display:block;
  }
  .hidden-print {
    display:none;
  }
  .page-header {
    position: relative;
    page-break-inside:avoid;
    border-style: none;
  }
  .page-header-odd {
      border:0mm;
      padding-top:0.5mm;
      padding-bottom:0.5mm;
      padding-left:1mm;
      padding-right:1mm;
      page-break-inside:avoid;
  }
  .page-header-even {
      border: 0px;
      padding-top:0.5mm;
      padding-bottom:0.5mm;
      padding-left:1mm;
      padding-right:1mm;
      page-break-inside:avoid;
 }
  .column-left {
      padding-left:10px;
      width:50%;
      float:left;
      text-align:left;
      line-height:30%;
  }
  .column-right {
      padding-right:10px;
      width:50%;
      float:left;
      text-align:right;
      line-height:30%;
  }
  .time-column {
      padding-left:0px;
      width:20%;
      float:left;
      text-align:right;
      padding-right:6px;
  }
  .event-column {
      width:80%;
      float:left;
      padding-left:6px;
      text-align:left;
      padding-right:0px;
      border-left: 2px solid darkcyan;
  }
  .invisible-on-print {
  	display:none;
	}
	.popover {
		display:none;
	}
	 a[href]:after {
    	content: none;
  	}
}
