<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="all">
	<link rel="stylesheet" href="./views/index.css" media="all">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8">
	<title>CV</title>
</head>

<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.cdnjs.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="https://ajax.cdnjs.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
	<script src="./js/backbone-relational.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://fb.me/react-0.14.0.min.js"></script>
	<script src="https://fb.me/react-dom-0.14.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <script src="./models/CV.js"/></script>
	<!--script type="text/jsx" src="./views/TextView.jsx"></script -->
	<script src="./views/TextView.js"></script>
	<script src="./js/app.js"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42943503-2', 'auto');
  ga('send', 'pageview');
    </script>
    
			<!-- AddThis Smart Layers BEGIN -->
			<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51fd4e0931b1be67"></script>
			<script type="text/javascript">
	  			addthis.layers({
    				'theme' : 'transparent',
    				'share' : {
      				'position' : 'right',
      				'numPreferredServices' : 5
    				}   
  				});
			</script >
		<!-- AddThis Smart Layers END -->
	
    <div class="container">
        <div class="row" id="CV" name="{{=it.name}}" target="{{=it.target}}" >
        </div>
    </div>
    
       <script>
       $('#viewStyleSelector').click( function () {
            app.cv.render("page");
        });
    </script>
</body>
</html>
